@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #000;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
}

.header-container {
    background-color: #f5f5f5;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    z-index: 100;
}

.subheader {
    margin-top: 20px;
    position: sticky;
    top: 58px;
    background: #f5f5f5;
    z-index: 100;
    padding-bottom: 10px;
    color: #ABABAB;
}

.project{
  opacity:0.3;
  margin-top:10px;
  padding-bottom:10px;
}

.accordion {
    cursor: pointer;
    margin-bottom: 0px;
}

.accordion-title {
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.3s;
    text-align: left;
}

.accordion-title:hover,
.accordion-item.active .accordion-title {
    opacity: 1;
}

.accordion .arrow {
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    
}

.arrow{
  opacity: 1 !important;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    ;
    opacity: 0;
    padding-left: 21px;
}

.accordion-item.active .accordion-content {
    opacity: 1;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-weight: normal !important;
    font-size: small;
    width: 100%;
    margin: 10px 0px;
}

th {
    font-weight: normal !important;
    padding: 0;
}

td {
    border-top: 0.5px solid #ababab;
    padding: 0;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: #ff3800;
}


.Lorem{
  opacity:0.3;
}